<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>

            <div *ngIf="isLoginFormShow" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <mat-tab-group mat-align-tabs="center" animationDuration="2ms">
                    <mat-tab label="Login As Doctor">
                        <form *ngIf='doctorLoginForm' [formGroup]="doctorLoginForm" (submit)="doctorLogin()">
                            <div class="form-outline mb-4 mt-4">
                                <mat-form-field class="mat-form-filed-width" appearance="fill">
                                    <mat-label class="mat-label-color">Email Id</mat-label>
                                    <input matInput formControlName="emailId" required>
                                    <mat-error *ngIf="doctorLoginForm.get('emailId')?.hasError('required')">
                                        Email ID is Required!
                                    </mat-error>
                                    <mat-error *ngIf="doctorLoginForm.get('emailId')?.hasError('email')">
                                        Please enter a valid Email Id!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field class="mat-form-filed-width" appearance="fill">
                                <mat-label class="mat-label-color">Password</mat-label>
                                <input matInput formControlName="password" required>
                                <mat-error *ngIf="doctorLoginForm.get('password')?.hasError('required')">
                                    Password is Required!
                                </mat-error>
                            </mat-form-field>
        
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <button
                                        (click)="registerationTapped()" class="link-danger btn">Register</button></p>
                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab label="Login As Patient">
                        <form *ngIf='patientLoginForm' [formGroup]="patientLoginForm" (submit)="patientLogin()">
                            <div class="form-outline mb-4 mt-4">
                                <mat-form-field class="mat-form-filed-width" appearance="fill">
                                    <mat-label class="mat-label-color">Email Id</mat-label>
                                    <input matInput formControlName="emailId" required>
                                    <mat-error *ngIf="patientLoginForm.get('emailId')?.hasError('required')">
                                        Email ID is Required!
                                    </mat-error>
                                    <mat-error *ngIf="patientLoginForm.get('emailId')?.hasError('email')">
                                        Please enter a valid Email Id!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field class="mat-form-filed-width" appearance="fill">
                                <mat-label class="mat-label-color">Password</mat-label>
                                <input matInput formControlName="password" required>
                                <mat-error *ngIf="patientLoginForm.get('password')?.hasError('required')">
                                    Password is Required!
                                </mat-error>
                            </mat-form-field>
        
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <button
                                        (click)="registerationTapped()" class="link-danger btn">Register</button></p>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
                
            </div>
            <div *ngIf="!isLoginFormShow" class="col-md-9 col-lg-7 col-xl-6">
                <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
                    <mat-tab label="Register As Doctor">
                        <!-- <div style="border: 1px solid; padding:1rem 1rem 3rem 1rem; margin:10px;"> -->
                        <form *ngIf='addDoctorForm' [formGroup]="addDoctorForm" (submit)="saveDoctor()">
                            <div class="row mt-4">
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Name</mat-label>
                                        <input matInput formControlName="doctorName" required>
                                        <mat-error *ngIf="addDoctorForm.get('doctorName')?.hasError('required')">
                                            First Name is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Mobile Number</mat-label>
                                        <input matInput formControlName="mobile" required>
                                        <mat-error *ngIf="addDoctorForm.get('mobile')?.hasError('required')">
                                            Mobile Number is Required!
                                        </mat-error>
                                        <mat-error *ngIf="addDoctorForm.get('mobile')?.hasError('pattern')">
                                            Please, Enter 10 digit Mobile Number!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Email Id</mat-label>
                                        <input matInput formControlName="emailId" required>
                                        <mat-error *ngIf="addDoctorForm.get('emailId')?.hasError('required')">
                                            Email ID is Required!
                                        </mat-error>
                                        <mat-error *ngIf="addDoctorForm.get('emailId')?.hasError('email')">
                                            Please enter a valid Email Id!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label>Gender</mat-label>
                                        <mat-select [(value)]="selected">
                                            <mat-option value="0">
                                                Male
                                            </mat-option>
                                            <mat-option value="1">
                                                Female
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="addDoctorForm.get('gender')?.hasError('required')">
                                            Please select Gender!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Password</mat-label>
                                        <input matInput formControlName="password" required>
                                        <mat-error *ngIf="addDoctorForm.get('password')?.hasError('required')">
                                            Password is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Address</mat-label>
                                        <input matInput formControlName="address" required>
                                        <mat-error *ngIf="addDoctorForm.get('address')?.hasError('required')">
                                            Address is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Degree Name</mat-label>
                                        <input matInput formControlName="degree" required>
                                        <mat-error *ngIf="addDoctorForm.get('degree')?.hasError('required')">Degree
                                            Degree Name is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Speciality</mat-label>
                                        <input matInput formControlName="speciality" required>
                                        <mat-error *ngIf="addDoctorForm.get('speciality')?.hasError('required')">
                                            Speciality is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Total Years of Experience</mat-label>
                                        <input matInput formControlName="yearOfExperience" required>
                                        <mat-error *ngIf="addDoctorForm.get('yearOfExperience')?.hasError('required')">
                                            Year
                                            Of
                                            Experience is Required!
                                        </mat-error>
                                        <mat-error *ngIf="addDoctorForm.get('yearOfExperience')?.hasError('pattern')">
                                            Only Number is allowed!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Consultation Fees</mat-label>
                                        <input matInput formControlName="consultationFees" required>
                                        <mat-error *ngIf="addDoctorForm.get('consultationFees')?.hasError('required')">
                                            Consultation Fees
                                            is Required!
                                        </mat-error>
                                        <mat-error *ngIf="addDoctorForm.get('consultationFees')?.hasError('pattern')">
                                            Only Number is allowed!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Clinic Name</mat-label>
                                        <input matInput formControlName="clinicName" required>
                                        <mat-error *ngIf="addDoctorForm.get('clinicName')?.hasError('required')">
                                            Clinic Name is
                                            Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Description</mat-label>
                                        <textarea formControlName="description" matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="submit-bottom-btn">
                                <button class="btn btn-success" type='submit'>Add Doctor</button>
                            </div>
                        </form>
                    </mat-tab>

                    <mat-tab label="Register As Patient">
                        <form *ngIf='addPatientForm' [formGroup]="addPatientForm" (submit)="savePatient()">
                            <div class="row mt-4">
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Name</mat-label>
                                        <input matInput formControlName="patientName" required>
                                        <mat-error *ngIf="addPatientForm.get('patientName')?.hasError('required')">
                                            First Name is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Mobile Number</mat-label>
                                        <input matInput formControlName="phone_number" required>
                                        <mat-error *ngIf="addPatientForm.get('phone_number')?.hasError('required')">
                                            Mobile Number is Required!
                                        </mat-error>
                                        <mat-error *ngIf="addPatientForm.get('phone_number')?.hasError('pattern')">
                                            Please, Enter 10 digit Mobile Number!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Email Id</mat-label>
                                        <input matInput formControlName="emailId" required>
                                        <mat-error *ngIf="addPatientForm.get('emailId')?.hasError('required')">
                                            Email ID is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label>Gender</mat-label>
                                        <mat-select>
                                            <mat-option value="0">
                                                Male
                                            </mat-option>
                                            <mat-option value="1">
                                                Female
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="addPatientForm.get('gender')?.hasError('required')">
                                            Please select Gender!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Password</mat-label>
                                        <input matInput formControlName="password" required>
                                        <mat-error *ngIf="addPatientForm.get('password')?.hasError('required')">
                                            Password is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Address</mat-label>
                                        <input matInput formControlName="address" required>
                                        <mat-error *ngIf="addPatientForm.get('address')?.hasError('required')">
                                            Address is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6" style="padding: 10px;">
                                    <mat-form-field class="mat-form-filed-width" appearance="fill">
                                        <mat-label class="mat-label-color">Age</mat-label>
                                        <input matInput formControlName="age" required>
                                        <mat-error *ngIf="addPatientForm.get('age')?.hasError('required')">
                                            Age is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="submit-bottom-btn">
                                <button class="btn btn-success" type='submit'>Add Ptient</button>
                            </div>

                        </form>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
    </div>
</section>