.header{
    font-weight: 400;
    border-bottom: 1px solid #f0f0f5;
    width: 100%;
    z-index: 2000;
    top: 0;
    padding: 20px;
    position: fixed;
}
.spacer{
    flex: 1 1 auto;
}
.login-button{
    border: 1px solid #d3d3d3;
    color: #787887;
}
.login-button:hover {
    color: #245883;
    border: 1px solid #245883;
}

.avatar-header-image{
    background-image: "../../../assets/images/doctor-icon.png"
}

.tooltip-color {
    background-color: #245883;
  }