.mat-tab-group {
    margin-bottom: 48px;
   
  }
.loginForm{
    float: right;
    width: 49%;
    margin: 35px;
    padding: 5px;
  }
  .displayCheckBox{
    margin-bottom: 10px;
  }
  .username {
    margin: 10px;
  }
  .password {
    margin: 10px;
  }
  .displaycheck{
    margin: 10px;
  }
  .userText{
    margin-bottom: 10px;
  }
  .passwordText{
    margin-bottom: 10px;
  }
  .loginButton{
    margin: 8px;
    width: 30%;
    border: 5px;
    height: 33px;

  }