<div class="container">
    <div class="heading">
        <div style="font-size: 30px; text-align:center;color: white; margin: 20px;">Your home for health</div>
        <div style="text-align: center; font-size:20px; margin:20px; color: white;">Find and Book</div>
    </div>
    <div class="card">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dr. Nisha Kamat</mat-card-title>
              <mat-card-subtitle>Gynecologist/Obstetrician</mat-card-subtitle>
              <mat-card-subtitle>25 years experience overall</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                Kopar Khairne,Navi Mumbai  Practo Care Surgeries + 2 more
                <br>₹800 Consultation fee at clinic
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn btn-primary">View Profile </button>
                <button mat-button class="btn btn-primary">Book Appointment</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"> </div>
              <mat-card-title>Dr. Nivedita Singh</mat-card-title>
              <mat-card-subtitle>Gynecologist/Obstetrician</mat-card-subtitle>
              <mat-card-subtitle>11 years experience overall</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                Belapur,Navi Mumbai  Acharya Shri Nanesh Hospital + 1 more
                <br> ₹700 Consultation fee at clinic
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn btn-primary">View Profile </button>
                <button mat-button class="btn btn-primary">Book Appointment</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dr. Saurabh Patil</mat-card-title>
              <mat-card-subtitle>Gynecologist/Obstetrician </mat-card-subtitle>
                <mat-card-subtitle>11 years experience overall</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                Belapur,Navi Mumbai  Acharya Shri Nanesh Hospital + 1 more
                <br>₹700 Consultation fee at clinic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-primary">View Profile </button>
              <button mat-button class="btn btn-primary">Book Appointment</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
