<div class="container-fluid">
  <div style="align-content: center;">
    <div class="row" style="padding: 20px;">
      <div *ngFor="let doctor of doctors" class="col-md-5 ml-5 mr-5" style="border: black solid 1px; margin: 20px;">
        <div class="listing-doctor-card">
          <div class="u-d-flex show-on-hover">
            <div style="margin-top: -40px;">
              <img style="height: 12rem;" src="../../../assets/images/doctor-icon.png">
              <div class="hide">
                <!-- <button class="btn ml-3">View Profile</button> -->
              </div>
            </div>
            <div class="info-section">
              <a class="h4" style="color:#245883;">
                Dr. {{doctor.doctorName}}
              </a>
              <div>
                <div class="u-d-flex">
                  <span class="sub-heading mt-1">{{doctor.speciality}}</span>
                </div>
                <div class="mt-1">
                  <span class="sub-heading2">{{doctor.yearOfExperience}} years of experience overall </span>
                  <div class="mt-3 sub-heading3" *ngIf="getClinicName(doctor)">{{clinicName}}</div>
                  <div class="sub-heading2 mt-2">{{doctor.address}} </div>
                  <div class="sub-heading2 mt-2">Rs. {{doctor.consultation_fees}} Consultation fees at clinic </div>
                </div>
              </div>
              <div class="action-section mb-1">
                <button type="button" mat-stroked-button>Book Appointment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>